<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="/styles/landing-page/fonts.css">
    <link rel="stylesheet" href="/styles/landing-page/fonts/specimen_files/grid_12-825-55-15.css">
    <link rel="stylesheet" href="/styles/landing-page/fonts/specimen_files/specimen_stylesheet.css">
    <link rel="stylesheet" href="/styles/landing-page/fonts/stylesheet.css">
    <link rel="stylesheet" href="/styles/landing-page/styleLandingPage.css">
  </head>
  <body id="landing">
    <header>
      <div id="title">
        <img id="vtm" src="/images/VTM.png" alt="Logo VTM" />
      </div>
      <ul>
        <a href="/feed"><li>Feed</li></a>
        <a href="/jobs"><li>ONG's</li></a>
        <a href="/vmatch"><li>V-Match</li></a>
      </ul>
      <div id="user-container">
        <a href="/login"
          ><img
            id="user"
            src="/images/user.png"
            alt="user"
        /></a>
      </div>
    </header>
    <br>
    <article>
      <a href="/register"><img id="um" src="/images/cadastro.png" alt="cadastro"/>
    </article>
    <footer>
      <div id="footer">
        <img
          id="pv"
          src="/images/pv-branco.png"
          alt="Parceiros Voluntários"
        />
      </div>
      <div id="logo-lov">
        <img id="lov" src="/images/LoV.png" alt="LoV" />
      </div>
    </footer>
  </body>
</html>